.bigText{
    font-size: 7.5vw;
    font-weight: 100;
    padding: 5vh 0vw 5vh 0vw;
    margin: 0em;
    line-height: normal;
}

.centerText{
    text-align: center;
}

.c10p{
    font-family: c10p;
}

.times{
    font-family: 'Times New Roman', Times, serif;
}

.grackPop{
    color: var(--grack_pop);
}

.grackBang{
    color: var(--grack_bang);
}

/* for 2 column layout */
.tworow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.twocol{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.main{
    overflow: auto;
    margin: 10vh 15vw 5vh 15vw;
    padding-top: 9vh;
    padding-bottom: 9vh;
    background-color:	var(--offwhite_grack);
    color: var(--grack_gentle);
    border-radius: var(--r1);
    min-height: 36vh;
    overflow-x: hidden;
}

@media screen and (max-width:35.5625em){
    .main{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        border-radius: 0;
    }

}
  
.mainPadding{
    padding-left: 5vw;
    padding-right: 5vw;
}

/* formats looks of regular content */
.content{
    text-align: left;
}

/* shapes look of content text */
.subContent{
    text-align: justify;
    padding: 0% 3% 0% 3%;
}

/* hopefully makes text on mobile page look better */
@media screen and (max-width:1080px){
    .subContent{text-align: left;}
}

/* off-white text color */
.whitetext{
    color: var(--offwhite_grack);
}

.pad3{
    padding: 1vw 3vw 1vw 3vw;
}

/* styles + formats typewriter text */
#typetext{
    font-family: c10p;
    font-size: 7.5vw;
    font-weight: 100;
    text-align: left;
    padding: 5% 10% 5% 10%;
    margin: 0em;
    line-height: normal;
}

.hide{
    display: none;
}

.rightWingInput{
    width: 100%;
    border-radius: var(--r6);
    background-color: var(--offwhite_grack);
    color: var(--grack_gentle);
    border: 2px solid var(--grack_gentle);
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 0.5vh 0vw 0.5vh 0vw;
    text-align: center;
    outline: none;
    font-family: c10p;
}

.rightAlign{
    text-align: right;
}

.split{
    display: flex;
    flex-direction: column;
}

@media (min-width: 40em){
    .split{
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }
}

.tinyText{
    font-size: 0.75vw;
    line-height: 1;
}